<footer class="clearfix">
		<div class="social_links">
			<p><a href="https://twitter.com/koen__w"><i class="fa fa-twitter"></i> Twitter</a><br>
			<a href="https://www.youtube.com/channel/UCFu7dWFlfRxkTX1kpBSpNAg"><i class="fa fa-youtube-play"></i> YouTube</a></p>
		</div>
		<div class="copyright"><p class="copyright">&copy; Koen Westendorp 2016</p></div>
	</footer>





















<!-- Loading in some scripts here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
